{% extends 'base.html.twig' %}

{% block title %}Nos produits{% endblock %}

{% block body %}

<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <img src="/uploads/images/products/{{ product.image }}" class="img-fluid" alt="{{ product.name }}">
        </div>
        <div class="col-md-6">
            <h1 class="h2">{{ product.name }}</h1>

            <div>
                <small>Prix : </small>
                <br>
                <span class="h2 pl-2 my-5">{{ ((product.price/100)*1.20)|number_format(2, ',') }} € <small>TTC</small></span>
            </div>

            <div class="border-top border-secondary mt-5 pt-5">
                <small>Description : </small>
                <div class="pl-2">
                    <h2 class="h5">{{ product.subtitle }}</h2>
                    <p>
                        {{ product.description|raw }}
                    </p>
                </div>
            </div>

            <div class="border-top border-secondary mt-5 pt-5">
                <a href="{{ path('app_cart_add', {'id' : product.id}) }}" class="btn btn-dark col-md-12">Ajouter au panier</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
