<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Bienvenue ! {% endblock %} - E-commerce Symfony</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset("assets/css/bootstrap.min.css") }}" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="{{ asset("assets/css/carousel.css") }}" rel="stylesheet">
    <link href="{{ asset("assets/css/style.css") }}" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="{{ path('app_home') }}">E-commerce Symfony</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="{{ path('app_product') }}">Nos produits</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#">Qui sommes nous ?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>

                <form action="{{ path('app_product_search') }}" method="post">
                    <div class="input-group my-auto">
                        <input type="search" class="form-control" placeholder="Rechercher...">
                        <button class="btn btn-secondary" type="button" id="search">Rechercher</button>
                    </div>
                </form>

                <div class="text-light">
                    {% if (app.user) %}
                        <a class="text-light" href="{{ path('app_account') }}">Mon compte <small>(Bonjour {{ app.user.firstname }})</small></a> | <a class="text-light" href="{{ path('app_logout') }}">Déconnexion</a>
                    {% else %}
                        <a class="text-light" href="{{ path('app_login') }}">Connexion</a> | <a class="text-light" href="{{ path('app_register') }}">Inscription</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>

    <main role="main">
        {% block body %}{% endblock %}
        <!-- FOOTER -->
    </main>

    <footer class="text-center py-4 text-white bg-dark position-absolute bottom-0 w-100">
        <p>&copy; 2017-2022 E-commerce Symfony <br>
            <small>
                Boutique fictive de démo. <br>
                &middot; <a class="text-light" href="#">Mentions légals</a> &middot;
                &middot; <a class="text-light" href="#">Polique de confidentialitée</a>
            </small> &middot;
        </p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="{{ asset("assets/js/bootstrap.bundle.js") }}"></script>
</body>
</html>